name: Ruff

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  ruff:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Ruff Lint
        uses: astral-sh/ruff-action@v3
        with:
          version: "0.9.1"
          args: check --output-format=github .
          src: "."

      - name: Ruff Format Check
        uses: astral-sh/ruff-action@v3
        with:
          version: "0.9.1"
          args: format --check .
          src: "."
